# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.zlcibrpnwgazvwejzjdp:[password]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.zlcibrpnwgazvwejzjdp:[password]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

CRON_SECRET=dramapro-secret-awal

ADMIN_EMAIL=admin@drama.com
ADMIN_PASSWORD=password

PAYMENKU_API_KEY=sk_test_NtHJvCfbgLyI0BL6gCAlsCcCXnvgctUW
PAYMENT_CREDENTIALS_KEY=Qwertyuiop25

TELEGRAM_BOT_TOKEN=8707202853:AAH9Q9mB1pFgQCBHWFPcsc2LD9Uan8VuZHI
TELEGRAM_BOT_USERNAME=Dramapro_bot
TELEGRAM_WEBHOOK_SECRET=Rahasia2509
TELEGRAM_SUPPORT_URL=https://t.me/aanhendri
TELEGRAM_MINI_APP_URL=https://layardrama.id/
NEXT_PUBLIC_SITE_URL=https://layardrama.id/
